
{% extends 'converter/index.html' %}

{% block content %}
<div class="col-lg-5"></div>
 <div class="col-lg-5">
 	<br>
 	<br>
 	<br>
 	<br>
 	<h3 style="margin-left: 1cm;color: blue"><b><u>Conversion</u></b></h3>
 	<br>
 	<h4 style="margin-right: 4cm;color:red"><strong><u>Symbols for differnt currencies</u>:
 	{% for i in symbols %}
 		{{ i }}
 		{{ "," }}
 	{% endfor %}
 </strong></h4>
 	<br>
 	
 <br>
 	<form method="POST">
 		{% csrf_token %}
 		{{ form.as_p }}
 		<br>
 			<button href="{% url 'output' %}" type="submit" style="margin-left: 2cm" class="btn btn-default"> Convert</button>
 	</form>
 </div>




{% endblock %}